// Global fonts
$default-font-family: -apple-system, BlinkMacSystemFont, sans-serif;

$default-font-size-h1: 32px;
$default-font-size-h2: 24px;
$default-title-font-size: 24px;
$default-button-font-size: 32px;
$default-body-font-size: 18px;
$default-small-font-size: 24px;

