<div class="background-container" [ngClass]="{'not-on-homepage': router.url !== '' && router.url !== '/'}">
  <div class="header-container">
    <header class="header">
        <nav>
          <ul class="nav-left">
            <li><img src="assets/img/bible-study-icon-small.png" alt="Bible chat icon" id="logo" [routerLink]="['/']" height="68px" width="68px"></li>
            <li><h1 id="logo-text" [routerLink]="['/']"><span class="white-highlight">Bible</span> Chat</h1></li>
          </ul>
          <ul class="nav-right full" [ngClass]="{'activated': menuToggled === true}">
            <li><a [routerLink]="['/']" (click)="toggleMenu()">Home</a></li>
            <li><a href="https://blog.thebiblechat.app">Blog</a></li>
            <li><a [routerLink]="['/contact']" id="contact-button" (click)="toggleMenu()">Get in touch</a></li>
          </ul>
          <ul class="nav-right burger" (click)="toggleMenu()">
            <li><img [src]="burgerSrc" alt="Burger menu icon" width="60px" height="60px"></li>
          </ul>
        </nav>
    </header>
  </div>
</div>