<div class="main-content-container">
  <div class="background-container">

  </div>
  <div class="cta-container" (click)="goToAppStore('landing-page')">
    <div>
      <img src="assets/img/Bible-Study-app-icon-rect.png" alt="Bible chat icon" id="logo" width="44px" height="44px">
    </div>
    <div>
      <p>Interactive Bible Learning Powered by AI.</p>
    </div>
    <div><a><img id="top-download-button" src="assets/img/download-app-store-2x.webp" alt="Download the iOS Bible Chat app" width="110px" height="40px"></a></div>
  </div>
</div>