<div class="main-content-container">
  <div class="top-cta-container">
    <div><a><img id="top-download-button" src="assets/img/download-app-store-2x.webp" alt="Download the iOS Bible Chat app" width="192px" height="64px" (click)="goToAppStore('landing-small-top')"></a></div>
  </div>
  
  <div class="background-container">

  </div>
  
  <div class="cta-container">
    <div>
      <img src="assets/img/Bible-Study-app-icon-rect.png" alt="Bible chat icon" id="logo" width="40px" height="40px">
    </div>
    <div>
      <p>Interactive Bible Learning Powered by AI.</p>
    </div>
    <div><a><img id="top-download-button" src="assets/img/download-app-store-2x.webp" alt="Download the iOS Bible Chat app" height="40px" (click)="goToAppStore('landing-small-bottom')"></a></div>
  </div>
</div>