.main-content-container {
  max-width: 800px;
  min-height: 535px;
  
  h1 {
    margin-bottom: 16px;
  }

  h2 {
    margin-bottom: 24px;
  }

  form {
    input {
      margin-bottom: 16px;
    }

    .send-button {
      margin-top: 16px;
      border-radius: 16px;
      border: none;
      padding: 16px 32px;
    }
  }

  .lottie-container {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
  }
}