@use "../../../styles/spacing";

.bottom-section {
  min-height: 800px;
  background-image: url("../../../../assets/img/doodles-overlay.png");
  background-size: cover;
  background-color: #F0EEE8;
  background-repeat: no-repeat;
  background-position: top;

  .overlay {
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(240,238,232,0), rgba(240,238,232,0.3), rgba(240,238,232,1), rgba(240,238,232,0.3), rgba(240,238,232,0));

    .top {
      min-height: 600px;
      background-image: url("../../../../assets/img/ripped-dark-brown-bottom.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100% auto;
      display: flex;
      flex-direction: column;
      align-items: center;    
      
      h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -0.022em;
        margin-top: 96px;

        strong {
          font-weight: 700;
        }
      }

      #bottom-cta {
        margin-top: 64px;
        cursor: pointer;
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        margin-top: 32px;
      }
    }
  }
  
  .bottom {
    height: 300px;
    background-color: #95896E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-wrap: wrap;
    a {
      cursor: pointer;
    }
  }
}

@media (max-width: 1024px) {
  .bottom-section {
    .overlay {
      .top {
        padding: 0 32px;

        h2 {
          font-size: 24px;
          font-weight: 600;
        }

        #bottom-cta {
          width: 220px;
          margin-top: 32px;
        }
      }
    }

    .bottom {
      height: 200px;
      padding: 20px 10px;

      a {
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .bottom-section {
    .overlay {
      .top {
        background-size: auto 64px;
      }
    }
  }
}