<footer>
  <div class="bottom-section">

    <div class="overlay">
      <div class="top">
        <h2>Don't confine your exploration to these subjects.<br> Experience the full potential of <strong>Bible Chat</strong> on your phone.</h2>
        <a (click)="goToAppStore('footer-banner')" href="https://apps.apple.com/ro/app/bible-study-ai-chatbot-memory/id6448849666"><img src="assets/img/download-app-store-2x.webp" alt="Download the iOS Bible Chat app" id="bottom-cta" width="336px" height="112px"></a>
        <p>With the Bible Chat app, a whole world of guided spirituality becomes available at your fingertips.</p>
      </div>
    </div>
    
    <div class="bottom">
      <a href="https://www.facebook.com/profile.php?id=100093253920229" (click)="redirectToSocial('facebook')"><img src="assets/img/facebook-big-icon-white.png" alt="Bible Chat on Facebook" height="64px" width="64px"></a>
      <a href="https://instagram.com/the.biblechat?igshid=MzRlODBiNWFlZA==" (click)="redirectToSocial('instagram')"><img src="assets/img/instagram-big-icon-white.png" alt="Bible Chat on Instagram" height="64px" width="64px"></a>
      <a href="https://www.tiktok.com/@biblechat.app?_t=8cYwXswcIix&_r=1" (click)="redirectToSocial('tiktok')"><img src="assets/img/tiktok-big-icon-white.png" alt="Bible Chat on TikTok" height="64px" width="64px"></a>
      <a href="https://twitter.com/chat_bible22499" (click)="redirectToSocial('twitter')"><img src="assets/img/twitter-big-icon-white.png" alt="Bible Chat on Twitter" height="64px" width="64px"></a>
      <a href="https://www.youtube.com/channel/UCq-zYscdvJu3Xn16NSegr7Q" (click)="redirectToSocial('youtube')"><img src="assets/img/youtube-big-icon-white.png" alt="Bible Chat on Youtube" height="64px" width="64px"></a>
    </div>
  </div>
</footer>