@use "../styles/spacing";
@use "../../app/styles/colors";

.background-container {
  display: none!important;
}

.hero-section {
  background-color: #BAAB8A;
  width: 100%;
  
  .top {
    height: 474px;
    background-image: url("../../assets/img/ripped-gray-bottom.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;

    .header {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      max-width: 1310px;
      margin-left: auto;
      margin-right: auto;

      .left {
        width: 173px;
        height: 64px;
        // margin-right: 460px;
      }

      .right {

        width: 173px;
        height: 64px;

        
      }

      .center {
        display: flex;
        justify-content: center;
      }
    }

    .content {
      display: flex;
      width: 100%;
      height: auto;
      flex-direction: row;

      .col {

        &#left {
          h2 {
            margin-left: auto;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            letter-spacing: -0.04em;
            width: fit-content;
            margin-top: 192px;
          }
        }

        &#middle {
          
          display: flex;
          justify-content: center;

          img {
            margin-top: 40px
          }
        }

        &#right {

          p {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            width: fit-content;
            margin-top: 192px;
          }

          #top-download-button {
            cursor: pointer;
            margin-top: 80px;
            z-index: 10;
            position: relative;
          }
        }
      }
    }
  }

  .bottom {
    min-height: 200px;
    background-color: #F0EEE8;
    
  }

}

.main-section {
  .top {
    min-height: 800px;
    background-image: url("../../assets/img/ripped-gray-top.png");
    background-repeat: no-repeat;
    background-position: top;
    background-color: #F8F6F3;
    background-size: 100% auto;

    .heading {
      padding-top: 96px;
      width: 100%;
      text-align: center;
      z-index: 5;
      position: relative;

      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        text-align: center;
        letter-spacing: -0.04em;

        span {
          color: #BAAB8A;
        }
      }

      h2 {
        margin-top: 64px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;        
        text-align: center;
        letter-spacing: -0.04em;
      }

      p {
        margin-top: 32px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        letter-spacing: -0.011em;

        color: #888888;
      }
    }

    .benefits {
      display: inline-block;
      width: 100%;
      margin-top: 64px;
      .benefit {
        width: 100%;
        display: flex;
        height: 128px;
        align-items: center;

        &.dark {
          background: linear-gradient(to right, rgba(241,238,232,0), rgba(241,238,232,1), rgba(241,238,232,0));
        }

        .left {
          display: inline-flex;
          margin-left: auto;
          
          p {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 32px;
            color: #706753;
            width: fit-content;
            white-space: nowrap;
            margin-left: auto;
            width: 416px;
            text-align: right;
            margin: 0;
            margin-right: 4px;
          }
        }

        .center {
          min-width: 496px;
          justify-content: center;
          align-items: center;
          display: flex;

          img {
            margin-top: 526px;  
          }
        }

        .right {
          display: inline-flex;
          
          p {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 32px;
            color: #706753;
            width: fit-content;
            white-space: nowrap;
            width: 416px;
            text-decoration-skip: left;
            margin: 0;
            margin-left: 4px;
          }
          margin-right: auto;
        }
      }
    }
  }

  .middle {
    min-height: 800px;
    background-image: url("../../assets/img/doodles-overlay.webp"), url("../../assets/img/ripped-brown-bottom.png"), linear-gradient(to top, rgba(240,238,232,1), rgba(240,238,232,0.8));
    background-size: cover, 100% auto, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    // background-color: #F8F6F3;

    .overlay {
      min-height: 800px;
      width: 100%;

      .benefits {
        display: inline-block;
        width: 100%;
        margin-top: 112px;

        .benefit {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 16px 0px;
  
          &.dark {
            background: linear-gradient(to right, rgba(241,238,232,0), rgba(241,238,232,1), rgba(241,238,232,0));
          }
  
          .left {
            display: inline-flex;
            margin-left: auto;
            
            p {
              width: fit-content;
              white-space: nowrap;
              margin-left: auto;
              width: 416px;
              text-align: right;
              margin: 0;
              padding-right: 12px;
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 32px;
              text-align: right;
              letter-spacing: -0.04em;
              border-right: 4px solid #C84E34;
            }
          }
  
          .center {
            min-width: 496px;

            img {
              margin-top: 460px;  
            }
          }
  
          .right {
            display: inline-flex;
            
            p {
              width: fit-content;
              white-space: nowrap;
              width: 416px;
              text-decoration-skip: left;
              margin: 0;
              padding-left: 12px;
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 32px;
              text-align: left;
              letter-spacing: -0.04em;
              border-left: 4px solid #C84E34;
            }
            margin-right: auto;
          }
        }
      }

      .blog-highlights {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        gap: 64px;
        padding: 0 32px;
        
        .top-blog-post {
          .blog-post {
            width: 608px;
            min-height: 256px!important;
            max-width: 608px!important;
            // background: #FFFFFF;
            box-shadow: 0px 16px 32px rgba(186, 171, 138, 0.16);
            border-radius: 16px;
            padding: 32px;
            
            .header {
              display: flex;

              .title {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 32px;
              }

              .redirect {
                margin-left: auto;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 32px;
                text-align: right;
                color: #C84E34;

                &:hover {
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
  
  .bottom {
    min-height: 800px;
    background-color: #BAAB8A;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-top: 96px;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -0.022em;
      margin-bottom: 0;

      .white {
        color: #F1EEE8;
      }

      .red {
        color: #C84E34;
      }
    }

    .screen-nav {
      display: flex;
      gap: 44px;
      margin-top: 64px;
      height: auto;
      button {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        padding: 10px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        border-bottom: 4px solid transparent;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;         

        &:focus {
          color: colors.$primary-text-color;
        }

        &:hover {
          color: colors.$primary-text-color;
        }

        &.selected {
          border-bottom: 4px solid #C84E34;
        }
      }
    }

    .phone {
      margin-top: auto;
      position: relative;

      #picture {
        position: relative;
        
      }
      
      #frame {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: -16px;
        margin-left: -8px;
      }
    }
  }
}

.bottom-section {
  min-height: 800px;
  background-image: url("../../assets/img/doodles-overlay.webp");
  background-size: cover;
  background-color: #F0EEE8;
  background-repeat: no-repeat;
  background-position: top;

  .overlay {
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(240,238,232,0), rgba(240,238,232,0.3), rgba(240,238,232,1), rgba(240,238,232,0.3), rgba(240,238,232,0));

    .top {
      min-height: 600px;
      background-image: url("../../assets/img/ripped-dark-brown-bottom.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100% auto;
      display: flex;
      flex-direction: column;
      align-items: center;    
      
      h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -0.022em;
        margin-top: 96px;

        strong {
          font-weight: 700;
        }
      }

      #bottom-cta {
        margin-top: 64px;
        cursor: pointer;
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        margin-top: 32px;
      }
    }
  }
  
  .bottom {
    height: 400px;
    background-color: #95896E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;

    a {
      cursor: pointer;
    }
  }
}


@media (max-width: 1440px) {
  .hero-section {
    .top {
      padding: 0 32px;
      .content {
        .col {
          &#left {
            h2 {
              font-size: 26px;
            }
          }

          &#right {
            p {
              font-size: 18px;
            }
  
            #top-download-button {
              cursor: pointer;
              margin-top: 120px;
              width: 280px;
              height: auto;
            }
          }
        }
      }
    }
  }

  .main-section {
    .top {

      .benefits {

        .benefit {

          &.first {
            .left {
              margin-right: -44px;
            }

            .right {
              margin-left: -44px;
            }
          }

          .left, .right {
            p {
              max-width: 300px;
              white-space: normal;
            }
          }

          .center {
            min-width: 330px;
          }
        }
      }
    }

    .middle {
      .overlay {
  
        .benefits {
          .benefit {

            .left, .right {
              p {
                max-width: 300px;
                white-space: normal;
              }
            }

            .center {
              min-width: 330px;
            }
          }
        }
      }
    }

    .bottom {
      .screen-nav {
        gap: 24px;
      }
    }
  }
}

.desktop {
  display: block!important;
}

.mobile {
  display: none!important;
}

@media (max-width: 1024px) {

  .desktop {
    display: none!important;
  }
  
  .mobile {
    display: block!important;
  }
  
  .hero-section {
    .top {
      height: 480px;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .col#left {
          h2 {
            margin-top: 0;
            font-size: 24px;
            line-height: 32px;
          }
        }

        .col#middle {
          img {
            margin-top: 0;
            width: auto;
            height: 560px;
          }
        }

        .col#right {
          p {
            margin-top: 0;
          }

          #top-download-button {
            margin-top: 32px;
            width: 220px;
          }
        }
      }
    }

    .bottom {
      min-height: 316px;
    }
  }
  
  .main-section {
    .top {
      .heading {
        padding: 112px 32px 0 32px;

        h1 {
          font-size: 54px;
        }

        h2 {
          font-size: 28px;
        }

        br {
          display: none;
        }
      }

      .benefits.mobile {
        margin-top: 48px;
        display: flex!important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        #main-benefits-mobile {
          width: auto;
          height: 570px;
        }

        .benefit {
          height: 100px;
          justify-content: center;
          align-items: center;
          padding: 0 12px;

          .left, .right {
            margin: 0;

            p {
              max-width: unset;
              text-align: center;
              width: fit-content;
              margin-left: 4px;
            }
          }
        }
      }
    }

    .middle {
      min-height: 1300px;

      .overlay {
        min-height: 1300px;

        .benefits {
          padding: 0 32px;

          .benefit {
            flex-wrap: wrap;
            padding: 0;
            justify-content: center;
            align-items: center;

            .center {
              display: none;
            }

            .left, .right {
              margin: 0;

              p {
                max-width: unset;
                margin-bottom: 32px;
                font-size: 16px;
              }
            }

            .right {
              p {
                // margin-top: 128px;
              }
            }
          }
        } 

        .blog-highlights {
          flex-wrap: wrap;
            .top-blog-post {
              
              .blog-post {
                width: 300px;
                .header {
                  .title, .redirect {
                    font-size: 16px!important;
                  }
                }

                .content {
                  font-size: 14px!important;
                }
              }
            }
        }
      }
    } 

    .bottom {
      text-align: center;
      min-height: 800px;  
      padding: 0 32px;

      h2 {
        font-size: 28px;
      }

      .screen-nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;

        a {
          font-size: 16px;
          padding: 4px;
        }

        a {
          pad: 4px;
        }
      }

      .phone {
        
        #frame {
          width: 320px;
          height: 320px;
        }

        #picture {
          width: 304px;
          height: 304px;
        }
      }
    }
  }

  .bottom-section {
    .overlay {
      .top {
        padding: 0 32px;

        h2 {
          font-size: 24px;
          font-weight: 600;
        }

        #bottom-cta {
          width: 220px;
          margin-top: 32px;
        }
      }
    }

    .bottom {
      height: 300px;

      a {
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .main-section{

    .middle {
      .overlay {
        .benefits {
          .benefit {
            flex-direction: column;
            .left, .right {
              p {
                width: auto;
              }
            }
          }
        }
      }
    }
  }      
}

@media (max-width: 375px) {
  .hero-section {
    .top {
      .content {
        .col#right {
          p {
            br {
              // display: none;
            }
          }
        }
      }
    }

    .bottom {
      min-height: 340px;
    }
  }

  .main-section {
    .middle {
      .overlay {
        min-height: 1400px;
      }
    }
  }
}