
<div class="hero-section">

  <div class="top">
    <div class="content">
      <div class="col" id="left">
        <!-- <h2 class="desktop">Go beyond the conventional<br> understanding of religion<br> and faith</h2> -->
        <h2 class="desktop">Interactive Bible Learning.<br> Powered by the<br> Most Advanced AI.</h2>

        <h2 class="mobile">Interactive Bible Learning <br> Powered by AI.</h2>
      </div>
      <div class="col" id="middle">
        <img src="assets/img/bible-chat-app.webp" alt="The Bible Chat app" width="416px" height="744px">
      </div>
      <div class="col" id="right">
        <!-- <p>Chat with your AI-powered religion<br> guide to discover even the deepest<br> spiritual secrets.</p> -->
        <p>Chat with Your Personal<br> AI-Powered Guide to<br> Explore the Word of God.</p>
        <a href="https://apps.apple.com/ro/app/bible-study-ai-chatbot-memory/id6448849666" (click)="goToAppStore('home-top-cta')"><img id="top-download-button" src="assets/img/download-app-store-2x.webp" alt="Download the iOS Bible Chat app" width="384px" height="128px"></a>
      </div>
    </div>
  </div>

  <div class="bottom">

  </div>
</div>

<div class="main-section">
  <div class="top">
    <div class="heading">
      <h1><span>Bible</span>Chat</h1>
      <h2>Grow More In Your Faith Than You Ever Imagined</h2>
      <p>Harness the power of AI to better understand the Bible, ask questions about religion or anything else in your life that troubles you, and find<br> yourself immersed in a truly biblical learning experience.</p>
    </div>

    <div class="benefits desktop">
      <div class="dark benefit first">
        <div class="left"><p>Suitable for Everyone</p><img src="assets/img/red-question-mark.png" alt="Red question mark" width="32px" height="32px"></div>
        <div class="center"><img src="assets/img/main-benefits-full.webp" alt="Bible Chat app - questions"></div>
        <div class="right"><img src="assets/img/red-question-mark.png" alt="Red question mark" width="32px" height="32px"><p>Get Answers to Your Deepest Questions</p></div>
        
      </div>
      <div class="white benefit">
        <div class="left"><p>Learn More About Religion and Your Faith</p><img src="assets/img/red-question-mark.png" alt="Red question mark" width="32px" height="32px"></div>
        <div class="center"></div>
        <div class="right"><img src="assets/img/red-question-mark.png" alt="Red question mark" width="32px" height="32px"><p>Journal Your Thoughts, Questions, and Prayers</p></div>
      </div>
      <div class="dark benefit">
        <div class="left"><p>Get Truly Inspiring Guidance</p><img src="assets/img/red-question-mark.png" alt="Red question mark" width="32px" height="32px"></div>
        <div class="center"></div>
        <div class="right"><img src="assets/img/red-question-mark.png" alt="Red question mark" width="32px" height="32px"><p>Get Access to Your Preferred Bible Version</p></div>
      </div>
    </div>

    <div class="benefits mobile">
      <div class="dark benefit first">
        <div class="left"><img src="assets/img/red-question-mark.png" alt="Red question mark" width="32px" height="32px"><p>Suitable for Everyone</p></div>
      </div>
      <div class="white benefit">
        <div class="right"><img src="assets/img/red-question-mark.png" alt="Red question mark" width="32px" height="32px"><p>Get Access to Your Preferred Bible Version</p></div>
      </div>      
      <div class="dark benefit">
        <div class="right"><img src="assets/img/red-question-mark.png" alt="Red question mark" width="32px" height="32px"><p>Get Answers to Your Deepest Questions</p></div>
      </div>
      <img src="assets/img/main-benefits-full.webp" alt="Bible Chat app - questions" id="main-benefits-mobile">
      <div class="white benefit">
        <div class="left"><img src="assets/img/red-question-mark.png" alt="Red question mark" width="32px" height="32px"><p>Get Truly Inspiring Guidance</p></div>
      </div>
      <div class="dark benefit">
        <div class="right"><img src="assets/img/red-question-mark.png" alt="Red question mark" width="32px" height="32px"><p>Journal Your Thoughts, Questions, and Prayers</p></div>
      </div>
      <div class="white benefit">
        <div class="left"><img src="assets/img/red-question-mark.png" alt="Red question mark" width="32px" height="32px"><p>Learn More About Religion and Your Faith</p></div>
      </div>
    </div>
  </div>

  <div class="middle">
    <div class="overlay">
      <div class="benefits">
        <div class="benefit">
          <!-- <div class="left"><p>The Scripture No Longer Has Any Secrets</p></div> -->
          <div class="left"><p>Explore The Word of God</p></div>
          <div class="center"></div>
          <div class="right"><p>Receive Spiritual Guidance</p></div>
        </div>
        <div class="benefit">
          <div class="left"><p>Strengthen Your Faith</p></div>
          <div class="center"></div>
          <div class="right"><p>Create Personalized Prayers</p></div>
        </div>
        <div class="benefit">
          <div class="left"><p>Feed Your Soul</p></div>
          <div class="center"></div>
          <div class="right"><p>Say No to Sin</p></div>
        </div>
      </div>

      <div class="blog-highlights container">

        <div *ngFor="let post of blogPosts">
          <app-blog-post-card [post]="post" class="top-blog-post"></app-blog-post-card>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <h2>Explore any topics and interests <span class="white">through <span class="red">the lenses</span> of the bible</span></h2>
    <div class="screen-nav">
      <a *ngFor="let navLink of screenNavLinks; let i = index" [ngClass]="{'selected': navLink.selected === true}" (click)="onSelect(i)">{{ navLink.name }}</a>
    </div>

    <div class="phone">
      <img src="assets/img/{{currentScreen.imageUrl}}.webp" [alt]="currentScreen.screenAlt" id="picture" width="496px" height="496px">
      <img src="assets/img/half-phone-frame.webp" alt="Interest phone frame" id="frame" width="512px" height="512px">
    </div>
  </div>
</div>

<div class="bottom-section">

  <div class="overlay">
    <div class="top">
      <h2>Don't confine your exploration to these subjects.<br> Experience the full potential of <strong>Bible Chat</strong> on your phone.</h2>
      <a (click)="goToAppStore('home-bottom-cta')" href="https://apps.apple.com/ro/app/bible-study-ai-chatbot-memory/id6448849666"><img src="assets/img/download-app-store-2x.webp" alt="Download the iOS Bible Chat app" id="bottom-cta" ></a>
      <p>With the Bible Chat app, a whole world of guided spirituality becomes available at your fingertips.</p>
    </div>
  </div>
  
  <div class="bottom">
    <!-- <a (click)="redirectToSocial('facebook')"><img src="assets/img/facebook-big-icon-white.png" alt="Facebook redirect button image" height="64px" width="64px"></a> -->
    <a href="https://instagram.com/the.biblechat?igshid=MzRlODBiNWFlZA==" (click)="redirectToSocial('instagram')"><img src="assets/img/instagram-big-icon-white.png" alt="Bible Chat on Instagram" height="64px" width="64px"></a>
    <a href="https://www.youtube.com/channel/UCq-zYscdvJu3Xn16NSegr7Q" (click)="redirectToSocial('youtube')"><img src="assets/img/youtube-big-icon-white.png" alt="Bible Chat on Youtube" height="64px" width="64px"></a>
    <a href="https://www.tiktok.com/@biblechat.app?_t=8cYwXswcIix&_r=1" (click)="redirectToSocial('tiktok')"><img src="assets/img/tiktok-big-icon-white.png" alt="Bible Chat on TikTok" height="64px" width="64px"></a>
  </div>
</div>
