<div class="hero-section">
  <div class="container">
    <div class="left">
      <h1>Guide Your Spirituality With the Power of AI</h1>
      <p>Use our AI Bible Study App to go beyond the conventional understanding of religion and faith. <br>Chat with your AI-powered religion guide to discover even the deepest spiritual secrets.</p>
      <img src="assets/img/Prayer.png" alt="">
      
      <div class="download-section">
        <a href="https://apps.apple.com/ro/app/bible-study-ai-chatbot-memory/id6448849666"><img src="assets/img/download-app-store-2x.webp" alt="Download on the app store" id="first-download"></a>
        <!-- <a href="https://www.apple.com/app-store/"><img src="assets/img/download-playstore-2x-1.webp" alt="Get it on Google Play"></a> -->
      </div>
    </div>
    <!-- <div class="right">
      
    </div> -->
  </div>
</div>

<div class="content-section">
  <div class="container">
    <!-- <article>
      <h2 class="article-header">Instant answers to your Bible questions</h2>
      <img src="assets/img/article1.png" alt="" class="article-image">
      
      <p><i>With BibleStudy's AI-powered technology, you can get accurate and insightful answers to your Bible questions in seconds, without having to search through multiple sources.</i></p>
    </article>

    <article>
      <h2 class="article-header">Personalized Bible experience</h2>
      <img src="assets/img/article2.png" alt="" class="article-image">
      
      <p><i>BibleStudy offers personalized recommendations, devotionals, and playlists based on your preferences and interests, so you can create a Bible experience that's unique to you.</i></p>
    </article>
    
    <article>
      <h2 class="article-header">Join a community of Bible enthusiasts</h2>
      <img src="assets/img/article3.png" alt="" class="article-image">
      
      <p><i>With BibleStudy, you can connect with other Bible enthusiasts, ask questions, and share your insights and experiences. Join a welcoming community of people who love the Bible as much as you do.</i></p>
    </article> -->

    <article *ngFor="let article of mainContent">
      <div class="article-top">
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
      </div>
      <div class="article-content">
        <div class="article-col">
          <div class="subarticle" *ngFor="let subarticle of article.subarticlesLeft">
            <h2>{{ subarticle.title }}</h2>
            <p>{{ subarticle.content }}</p>
          </div>
        </div>
        <div class="article-col">
          <div class="article-images">
            <img [src]="article.image" [alt]="article.imageAlt" class="article-img">
            <a href="https://apps.apple.com/ro/app/bible-study-ai-chatbot-memory/id6448849666"><img src="assets/img/download-app-store-2x.webp" alt="Download on the app store" class="article-download"></a>
          </div>
        </div>
        <div class="article-col">
          <div class="subarticle" *ngFor="let subarticle of article.subarticlesRight">
            <h2>{{ subarticle.title }}</h2>
            <p>{{ subarticle.content }}</p>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

<div class="testimonials-section">
  <figure class="snip1533">
    <figcaption>
      <blockquote>
        <p>BibleChat has been a game-changer for me. As someone who's always been intimidated by the Bible, the app has made it easy for me to explore the Scriptures and ask questions. I love the personalized recommendations and the community of fellow learners.</p>
      </blockquote>
      <h3>Sarah Johnson</h3>
      <h4>App Store</h4>
    </figcaption>
  </figure>
  <figure class="snip1533">
    <figcaption>
      <blockquote>
        <p>I've been using BibleStudy for a few months now, and I'm blown away by the technology. The AI-powered Bible is incredibly accurate and responsive, and I've learned so much from the daily devotionals and Bible verses. Highly recommended!</p>
      </blockquote>
      <h3>David Lee</h3>
      <h4>App Store</h4>
    </figcaption>
  </figure>
  <figure class="snip1533">
    <figcaption>
      <blockquote>
        <p>As a pastor, I'm always looking for new ways to engage my congregation with the Bible. BibleStudy has been an invaluable tool for our church, allowing us to create customized reading plans and encourage discussion and reflection. </p>
      </blockquote>
      <h3>Pastor John Smith</h3>
      <h4>Play Store</h4>
    </figcaption>
  </figure>
</div>

<div class="bottom-section">
  <!-- <h1>Start Your Journey Trough Faith and Spirituality Now</h1>
  <p>Discover how AI can guide you and boost your faith</p>
  
  <div class="download-section">
    <a href="https://apps.apple.com/ro/app/bible-study-ai-chatbot-memory/id6448849666"><img src="assets/img/download-app-store-2x.webp" alt="Download on the app store" id="first-download"></a>
  </div> -->
</div>